---
layout: base.njk
---
<a href="{{ '/' | url }}" data-pagefind-ignore>{{ site.back_home_text }}</a>

<article>
  <p class="post-meta" data-pagefind-ignore>
    <time datetime="{{ page.date }}">{{ page.date | formatDate }}</time>
  </p>
  
  <h1 data-pagefind-meta="title">{{ title }}</h1>
  
  {{ content | safe  }}
</article>